/*************    users index page    *************/
         .avatar {
     width: 32px;
     height: 32px;
     border-radius: 50px;
     overflow: hidden;
}
.avatar {
    display: inline-block;
}
 .avatar img {
     width: 100%;
     height: 100%;
}
 .username_text {
     position: relative;
     top: 5px;
}
 .userstable>tbody>tr>td:first-child {
     padding: 9px !important;
     text-align: center;
}
 @media all and (min-width:0px) and (max-width: 600px) {
     .userstable tr th {
         display: none;
    }
     .userstable tr td {
         display: none;
         border:none !important;
    }
     .userstable tr th:nth-child(2) {
         display: inline-block;
         width:30% !important;
    }
     .userstable tr th:nth-child(3) {
         display: inline-block;
         width:50% !important;
    }
     .userstable tr th:last-child {
         display: inline-block;
         width:20% !important;
    }
     .userstable tr td:nth-child(2) {
         display: inline-block;
         width:30% !important;
    }
     .userstable tr td:nth-child(3) {
         display: inline-block;
         width:50% !important;
    }
     .userstable tr td:last-child{
         display: inline-block;
         width:20% !important;
    }
}             

/*************    users index page    *************/    



    body{
        overflow-x: hidden;
    }
    .trclikable tr{
    cursor: pointer;
    }



.errorFiled { border-color: #e0493e !important; }





  /*  css page media w dyal uploader  */
        tr.new {
    background: whitesmoke;
}
    .thumbnail {
    float: right;
    margin-left: 17px;
    overflow: hidden;
}
 .empty_state_icon {
    font-size: 176px;
    opacity: 0.1;
}
    
    
/*    .simpleUplader2*/
 .mediauploder .thumbnail   {
    height: 310px;
}
                                                
.mediauploder .thumbnail {
    width: 150px;
    height: 150px;
    border: 2px solid #0000000f !important;
    padding: 0;
}
.mediauploder .panel.panel-flat {
    border: 0;
    box-shadow: none;
    margin-top: -24px;
    padding-right: 0 !important;
}

.mediauploder .modal-body {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.mediauploder .panel-body {
    margin:  0 !important;
    padding: 0 !important;
    padding-top: 25px !important;
}    
    .mediauploder .simpleUplader {
    height: 310px;
}
    input.uploderButton {
    text-align: center;
    margin: 0 auto;
}

.mediauploder .simpleUplader {
    padding-top: 150px !important;
}
    .uploader_input {
    display: inline-block !important;
}    
    .container.uploader_sec {
    padding: 100px 0;display: none;
}
    .mediauploder .simpleUplader2 {
    height: 310px;
}
  .uploadbtn {
    height: 66px;
    width: 164px;
    font-size: 21px;
    line-height: 49px;
    border-radius: 4px;
}
                        
                    .thumbnail .thumb {
    overflow: hidden;
    display: inline-block;
    width: 150px;
    height: 150px;
}     
                        .simpleUplader2 {
    padding-right: 15px;
}
                        .loader {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #1717179c;
    z-index: 4544;
}
.loader img {width: 49px;position: absolute;top: 45px;right: 43px;}

.thumbnail {
    position: relative;
}
    
    
.no-border tr td {border: 0 !important;border-bottom: 1px solid #0000000f !important;}
.no-border tr:last-child td { border: 0 !important; }  
    



   tr.removeRow {
    background: #e74c3c !important;
    border-color: #e74c3c !important;
    color: white;
}

tr.removeRow a {
    color: white;
}
.navbar.navbar-default.navbar-component.navbar-xs.transparent {
    background: transparent;
    border: 0;
    margin-bottom: 0;
    padding-right: 0 !important;
    margin-right: -11px !important;
}    

.datatable>thead>tr>th:first-child {
    padding: 0;
    text-align: center;
}
.datatable>tbody>tr>td:first-child {
     padding: 0; text-align: center;
}
      .mediauploder .checkedimg {
    border: 3px solid #03a9f4 !important;
}
.simpleUplader2 .thumbnail input[type="checkbox"] {
display: none;
}


.simpleUplader2 .thumbnail label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    position: absolute;
    top: 0px;
    left: 2px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}

.simpleUplader2 .thumbnail :checked + label {
  border-color: #ddd;
}
.simpleUplader2 .thumbnail :checked + label:before {
    content: "✓";
    background-color: #03a9f4;
    transform: scale(1);
}
    a.mediapreview {
    display: inline-block;
    width: 100px;
    height: 70px;
    background: #cec3c3;
    border-radius: 5px;
}

a.mediapreview img {
    width: 100%;
    height: 100% !important;
}










.avatar-preview {
    background: #e8e0e0;
    width: 150px;
    height: 150px;
    overflow: hidden;
    display: inline-block;
    border-radius: 15454px;
    box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.avatar-preview img {
    width: 100%; 
    height: 100%;
}





     .ads-preview img {
    width: 100%;
}














/**
*  Nestable css
*/
.dd {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  max-width: 600px;
  list-style: none;
  font-size: 13px;
  line-height: 20px;
}

.dd-list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.dd-list .dd-list {
  padding-left: 30px;
}

.dd-collapsed .dd-list {
  display: none;
}

.dd-item,
.dd-empty,
.dd-placeholder {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 20px;
  font-size: 13px;
  line-height: 20px;
}

.dd-handle {
  display: block;
  height: 30px;
  margin: 5px 0;
  padding: 5px 10px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #ccc;
  background: #fafafa;
  background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
  background: -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
  background: linear-gradient(top, #fafafa 0%, #eee 100%);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.dd-handle:hover {
  color: #2ea8e5;
  background: #fff;
}

.dd-item > button {
  display: block;
  position: relative;
  cursor: pointer;
  float: left;
  width: 25px;
  height: 20px;
  margin: 5px 0;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  background: transparent;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  font-weight: bold;
}

.dd-item > button:before {
  content: '+';
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  text-indent: 0;
}

.dd-item > button[data-action="collapse"]:before {
  content: '-';
}

.dd-placeholder,
.dd-empty {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
  background: #f2fbff;
  border: 1px dashed #b6bcbf;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.dd-empty {
  border: 1px dashed #bbb;
  min-height: 100px;
  background-color: #e5e5e5;
  background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
    -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
    linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}

.dd-dragel {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}

.dd-dragel > .dd-item .dd-handle {
  margin-top: 0;
}

.dd-dragel .dd-handle {
  -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
}

/**
* Nestable Extras
*/
.nestable-lists {
  display: block;
  clear: both;
  padding: 30px 0;
  width: 100%;
  border: 0;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
}

#nestable-menu {
  padding: 0;
  margin: 20px 0;
}

#nestable-output,
#nestable2-output {
  width: 100%;
  height: 7em;
  font-size: 0.75em;
  line-height: 1.333333em;
  font-family: Consolas, monospace;
  padding: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#nestable2 .dd-handle {
  color: #fff;
  border: 1px solid #999;
  background: #bbb;
  background: -webkit-linear-gradient(top, #bbb 0%, #999 100%);
  background: -moz-linear-gradient(top, #bbb 0%, #999 100%);
  background: linear-gradient(top, #bbb 0%, #999 100%);
}

#nestable2 .dd-handle:hover {
  background: #bbb;
}

#nestable2 .dd-item > button:before {
  color: #fff;
}

.dd {
  //  float: left;
  //  width: 48 %;
  width: 80%;
}

.dd + .dd {
  margin-left: 2%;
}

.dd-hover > .dd-handle {
  background: #2ea8e5 !important;
}

/**
* Nestable Draggable Handles
*/
.dd3-content {
  display: block;
  height: 30px;
  margin: 5px 0;
  padding: 5px 10px 5px 40px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #ccc;
  background: #fafafa;
  background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
  background: -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
  background: linear-gradient(top, #fafafa 0%, #eee 100%);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.dd3-content:hover {
  color: #2ea8e5;
  background: #fff;
}

.dd-dragel > .dd3-item > .dd3-content {
  margin: 0;
}

.dd3-item > button {
  margin-left: 30px;
}

.dd3-handle {
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  cursor: pointer;
  width: 30px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #aaa;
  background: #ddd;
  background: -webkit-linear-gradient(top, #ddd 0%, #bbb 100%);
  background: -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
  background: linear-gradient(top, #ddd 0%, #bbb 100%);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.dd3-handle:before {
  content: '≡';
  display: block;
  position: absolute;
  left: 0;
  top: 3px;
  width: 100%;
  text-align: center;
  text-indent: 0;
  color: #fff;
  font-size: 20px;
  font-weight: normal;
}

.dd3-handle:hover {
  background: #ddd;
}


/*
* Nestable++
*/
.button-delete {
  position: absolute;
  top: 4px;
  right: -26px;
}

.button-edit {
  position: absolute;
  top: 4px;
  right: -52px;
}

#menu-editor {
  margin-top: 40px;
}

#saveButton {
  padding-right: 30px;
  padding-left: 30px;
}

.output-container {
  margin-top: 20px;
}

#json-output {
  margin-top: 20px;
}





























  .hdoi  .panel-heading {
    padding: 7px 16px;
}
    .dd-handle {
    height: 39px;
    padding-top: 8px;
}
    
    .button-delete i {
    font-size: 18px;
}
.button-delete {
    left: 24px;
    right: initial;
    top: 5px;
    background: none;
    border: 0;
}
.button-edit {
    left: 47px;
    right: initial;
    background: none;
    border: 0;    
    top: 5px;
}
.button-edit {
    width: 22px;
    display: inline-block;
    padding: 0;
}
.button-delete {    width: 22px;
    display: inline-block;
    padding: 0;
}
.button-edit:hover{
    background:#00bcd4;
    color:white;
}
.button-delete:hover{
    background:#00bcd4;
    color:white;
}


