{% extends "admin/layout.twig" %}

{% block content %}

<!-- Main content -->
<div class="content-wrapper">

<!-- Content area -->
<div class="content">
		
				
<h1 class="text-left"> الإحصائيات  </h1>


<hr>
					<div class="row">
						<div class="col-sm-6 col-md-3">
							<div class="panel panel-body bg-blue-400 has-bg-image">
								<div class="media no-margin">
									<div class="media-body">
										<h3 class="no-margin"><?php echo $comments; ?></h3>
										<span class="text-uppercase text-size-mini">مجموع التعليقات</span>
									</div>

									<div class="media-right media-middle">
										<i class="icon-bubbles4 icon-3x opacity-75"></i>
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-md-3">
							<div class="panel panel-body bg-danger-400 has-bg-image">
								<div class="media no-margin">
									<div class="media-body">
										<h3 class="no-margin"><?php echo $pages; ?></h3>
										<span class="text-uppercase text-size-mini">مجموع المقالات</span>
									</div>

									<div class="media-right media-middle">
										<i class="icon-file-empty2 icon-3x opacity-75"></i>
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-md-3">
							<div class="panel panel-body bg-success-400 has-bg-image">
								<div class="media no-margin">
								<div class="media-body text-left">
										<h3 class="no-margin"><?php echo $users; ?></h3>
										<span class="text-uppercase text-size-mini">مجموع الأعضاء</span>
									</div>
									
									<div class="media-right media-middle">
										<i class="icon-users2 icon-3x opacity-75"></i>
									</div>

									
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-md-3">
							<div class="panel panel-body bg-indigo-400 has-bg-image">
								<div class="media no-margin">
									

									<div class="media-body text-left">
										<h3 class="no-margin"><?php echo $emails; ?></h3>
										<span class="text-uppercase text-size-mini">مجموع الرسائل</span>
									</div>
									
									<div class="media-right media-middle">
										<i class="icon-envelop2 icon-3x opacity-75"></i>
									</div>
									
								</div>
							</div>
						</div>
					</div>
					<!-- /simple statistics -->




<div class="row row-sortable">
<div class="col-md-6">
<div class="panel panel-white">
		<div class="panel-heading no-border-bottom">
			<h6 class="panel-title">احصائيات الأعضاء</h6>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered">
				<tbody>
					<tr>
						<td>عدد المدراء</td>
						<td><?php echo $admins  ?></td>
					</tr>															
					<tr>
						<td>عدد الأعضاء العاديين</td>
						<td><?php echo $simple_users  ?></td>
					</tr>					
					<tr>
						<td>عدد الأعضاء المحظورين</td>
						<td><?php echo $blocked_users ?></td>
					</tr>		
					<tr>
						<td>عدد الأعضاء المفعلين</td>
						<td><?php echo $active_users ?></td>
					</tr>		
					<tr>
						<td>عدد الأعضاء في انتظار الموافقة</td>
						<td><?php echo $pending_users; ?></td>
					</tr>																		
				</tbody>
			</table>
		</div>
	</div>
	<div class="panel panel-white">
		<div class="panel-heading no-border-bottom">
			<h6 class="panel-title">احصائيات  التعليقات</h6>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered">
				<tbody>
					<tr>
						<td>التعليقات المنشورة</td>
						<td><?php echo $active_comments; ?></td>
					</tr>															
					<tr>
						<td>التعليقات المحذوفة</td>
						<td><?php echo $deleted_comments; ?></td>
					</tr>		
					<tr>
						<td>التعليقات التي تنتظر الموافقة</td>
						<td><?php echo $pending_comments; ?></td>
					</tr>					
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="col-md-6">
<div class="panel panel-white">
		<div class="panel-heading no-border-bottom">
			<h6 class="panel-title">احصائيات  المقالات</h6>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered">
				<tbody>
                    <tr>
                        <td>المقالات المنشورة</td>
                        <td><?php echo $active_articles ; ?></td>
                    </tr>
					<tr>
						<td>المقالات المسودة </td>
						<td><?php echo $pending_articles; ?></td>
					</tr>	                    
					<tr>
						<td>المقالات المحذوفة</td>
				        <td><?php echo $deleted_articles ; ?></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="col-md-6">
<div class="panel panel-white">
		<div class="panel-heading no-border-bottom">
			<h6 class="panel-title">احصائيات  الصفحات</h6>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered">
				<tbody>
					<tr>
						<td>الصفحات المنشورة</td>
						<td><?php echo $active_pages    ?></td>
					</tr>				
					<tr>
						<td>الصفحات المسودة</td>
						<td><?php echo $pending_pages   ?></td>
					</tr>					
					<tr>
						<td>الصفحات المحذوفة</td>
						<td><?php echo $deleted_pages   ?></td>
					</tr>															
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="col-md-6">
<div class="panel panel-white">
		<div class="panel-heading no-border-bottom">
			<h6 class="panel-title">احصائيات الرسائل</h6>
		</div>

		<div class="table-responsive">
			<table class="table table-bordered">
				<tbody>
					<tr>
						<td>الرسائل المقروءة</td>
						<td><?php echo $seen_mails; ?></td>
					</tr>					
					<tr>
						<td>الرسائل غير مقروءة</td>
						<td><?php echo $new_mails;  ?></td>
					</tr>														
				</tbody>
			</table>
		</div>
	</div>
</div>
</div>
    </div>
</div>
    
    {% endblock %}