{% extends "admin/layout.twig" %}
{% block title %} اضافة عضو جديد {% endblock %}
{% block content %}

<!-- Main content -->
<div class="content-wrapper">

    <!-- Content area -->
    <div class="content">

        {% include "admin/elements/flash.twig" %}
        
        <h1>اضافة عضو جديد</h1>
        <div class="col-md-12">
            <div class="panel panel-flat col-md-12">
                <div class="panel-body">
                    <form class="form-horizontal" method='post' action="{{path_for('users.create')}}" autocomplete="off">
                        <fieldset class="content-group">
                            <legend class="text-bold">اضافة عضو جديد</legend>
                            <div class="form-group">
                                <label class="control-label col-lg-2">اسم المستخدم</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" autocomplete="new-password" name="username" placeholder="@username" value="{{ old.username }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-2">البريد الإلكتروني</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" autocomplete="new-password" value="{{ old.email }}" name="email" placeholder="البريد الإلكتروني">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-2">كلمة المرور</label>
                                <div class="col-lg-10">
                                    <input type="password" autocomplete="new-password" value="{{ old.password }}" class="form-control" name="password" id="password" placeholder="كلمة المرور">
                                     
                       
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-2">الرتبة</label>
                                <div class="col-lg-10">
                                   
                                   {% if old.role is not empty %}
                                       <select name="role" class="form-control">
                                            {% if old.role =='1' %}
                                                <option value="1" class="form-control">مستخدم عادي</option>
                                                <option value="2" class="form-control">مدير</option>
                                            {% else  %}
                                                <option value="2" class="form-control">مدير</option>
                                                <option value="1" class="form-control">مستخدم عادي</option>
                                            {% endif  %}
                                        </select>
                                   {% endif  %}
                                   
                                   {% if old.role is empty %}
                                        <select name="role" class="form-control">
                                            <option value="1" class="form-control">مستخدم عادي</option>
                                            <option value="2" class="form-control">مدير</option>
                                        </select>  
                                   {% endif  %}   
                                </div>
                            </div>
                        </fieldset>
                        <div class="text-right">
                            <input type="hidden" name="validate" value="add_new_user">
                            <button type="submit" class="btn btn-primary" id="Submit_Add_User">اضافة عضو جديد <i class="icon-arrow-left13 position-right"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>            
 <script>
            .keyup(function() {
                $("#password_complexity").html(this.complexity);
            });
        </script>
        <script type="text/javascript">
            $(function() {
                $("#password").passwordStrength();
            });
        </script>
{% endblock %}	
            
            